#Struktur Data List

List adalah jenis kumpulan data terurut (ordered sequence), bisa diubah elemennya(mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa namun tak sama dengan arrray pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [8]:
#Contoh list
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [9]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [10]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

Indeks di Python (List, Tuple) mulai dari 0

In [13]:
#Sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] =2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat dijadikan duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikat pada list L1:", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 'dua', True]
List L1 setelah diganti elemennya: [1, 2, True]
Slicing List L1: (2+3j)
Duplikat pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [ ]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)

L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [ ]:
#Menambahkan data menggunakan fungsi insert (menambahkan elemen baru di list pada indeks tertentu)

L1 = [1, "dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [ ]:
#menambakan elemen dari list menggnakan fungsi pop() (menghapus berdasarkan indeks)

L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [ ]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

# Latihan 1

In [ ]:
#Buatlah list kalian sendiri

In [38]:
L3 = [10, 7, 8, 3]
print(type(L3))
L4 = ["f", "kucing", 10]
print(type(L4))

<class 'list'>
<class 'list'>

In [39]:
print(L3)
print(L4)

[10, 7, 8, 3]
['f', 'kucing', 10]

#Latihan 2

In [40]:
#Ganti elemen yang ada pada list yang kalian buat

In [41]:
L3[2] = 5
print("List L3 setelah diganti elemennya:", L3)

L4[1] = "panda"
print("List L4 setelah diganti elemennya:", L4)

List L3 setelah diganti elemennya: [10, 7, 5, 3]
List L4 setelah diganti elemennya: ['f', 'panda', 10]

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

tuple

Sifat Sifat Tuple

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/Immutable
T1[2] = "manusia"

In [ ]:
#Dapat diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [ ]:
#Dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [16]:
#tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

In [ ]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.remove(1)
T1.remove("dua")
print(f' tuple\t: {T1}')

Menggabungkan tuple

In [ ]:
#Menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

#Latihan 1

In [ ]:
#Buatlah tuplemu sendiri

In [48]:
T4 = ("pecahan", 77, True, 1+4j)
print("ini adalah tuple tiga", T4)

ini adalah tuple tiga ('pecahan', 77, True, (1+4j))

#Latihan 2

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat

In [49]:
T5 = ("desimal", 76.0, 3+10j)
print("ini adalah tuple dua", T5)

#Penggabungan T4 dan T5
T6 = T4 + T5
T6
print("penggabungan T4 dan T5", T6)

ini adalah tuple dua ('desimal', 76.0, (3+10j))
penggabungan T4 dan T5 ('pecahan', 77, True, (1+4j), 'desimal', 76.0, (3+10j))